/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
aside {
  position:  absolute;
  left: 0;
  top: 250px; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  width: 200px;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
}
/*aside#dragme0 {
  position:  absolute;
  left: 0;
  top: 250px; /!* set these so Chrome doesn't return 'auto' from getComputedStyle *!/
  width: 200px;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
}*/
/*aside#dragme1 {
  position:  absolute;
  left: 0;
  top: 250px; /!* set these so Chrome doesn't return 'auto' from getComputedStyle *!/
  width: 200px;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
}*/
